<html>
<h1>Update {{coach.firstName}} {{coach.lastName}}:</h1>
<form id="update-coaches" action="/coaches" method="post">
    Last Name: <input type="text" name="lastName" value="{{coach.lastName}}" disabled><br>
	First Name: <input type="text" name="firstName" value="{{coach.firstName}}" disabled><br>
	D.O.B (mm/dd/yyyy): <input type="text" name="dob" value="{{coach.dob}}"> (ex: 12/25/2017) <br>
	Email: <input type="text" name="email" value="{{coach.email}}" ><br>
	Salary: <input type="number" name="salary" value="{{coach.salary}}" ><br>
</form>
<button onclick="updateCoach ( {{coach.hId}} )">Update</button>
</html>
