<html>
{{#each foo}}
{{this}}
{{/each}}

<div class="navBar">
    <ul class="hMenu">
        <li class="hMenuLinkHome"><a href="/">Home</a></li>
        <li class="hMenuLinkHome"><a href="/players">Players</a></li>
        <li class="hMenuLinkHome"><a href="/players_position">Players' Positions</a></li>
        <li class="hMenuLinkHome"><a href="/teams">Teams</a></li>
        <li class="hMenuLinkHome"><a href="/coaches">Coaches</a></li>
        <li class="hMenuLinkHome"><a href="/other">Other</a></li>
    </ul>
</div>


<h2>Player List</h2>
<table>
    <thead> 
        <th>Last Name</th> 
        <th>First Name</th> 
        <th>Team</th> 
        <th>2pt FGs</th>
        <th>3pt FGs</th>
        <th>Rebounds</th>
        <th>Assists</th>
        <th>Steals</th>
        <th>Total</th>
    </thead> 
    <tbody>
        {{#each player}} 
        <tr> 
            <td>{{lastName}}</td> 
            <td>{{firstName}}</td> 
            <td>{{tName}}</td> 
            <td>{{2ptFGs}}</td>
            <td>{{3ptFGs}}</td> 
            <td>{{rebounds}}</td> 
            <td>{{assists}}</td> 
            <td>{{steals}}</td>
            <td>{{total}}</td>
            <td><form><button formaction="/players/delete" method="get" name="deletePlayers" value="{{pId}}"> Delete</button></form></td>
            <td><a href="/players/{{pId}}">Edit</a></td>
        </tr> 
        {{/each}} 
    </tbody> 
</table> 

<br>

<!-- This form is to Sort the list of players in the players entity -->
<form action="/players/sortPlayer" method="post" class="playersForms" id="playersSort">
    <fieldset>
        <legend>VIEW All Players:</legend>
        <fieldset>
            <legend>SORT BY</legend>
            <input type="radio" name="playerSort" value="lastName" /> Last Name
            <input type="radio" name="playerSort" value="firstName" /> First Name
            <input type="radio" name="playerSort" value="2ptFGs" /> 2pt FGs
            <input type="radio" name="playerSort" value="3ptFGs" /> 3pt FGs
            <input type="radio" name="playerSort" value="rebounds" /> Rebounds
            <input type="radio" name="playerSort" value="assists" /> Assists
            <input type="radio" name="playerSort" value="steals" /> Steals
            <input type="radio" name="playerSort" value="total" checked="checked"/> Total <br />
        </fieldset><br />
        <fieldset>
            <legend>ORDER</legend>
            <input type="radio" name="ascDesc" value="asc" /> Ascending<br />
            <input type="radio" name="ascDesc" value="desc" checked="checked"/> Descending<br />
        </fieldset><br />
        <input type="submit" name="playerSortSubmit" value="Submit" />
    </fieldset>  
</form>

<br>

<form action="/players/filterPlayer" method="post" class="indexForms" id="sortPlayer">
    <fieldset>
        <legend>SEARCH Player By Name</legend>
        Last Name: <input type="text" name="lastNameFilter"/><br />
        First Name: <input type="text" name="firstNameFilter"/><br />
    <br />
    <input type="submit" name="playerNameSubmit" value="Submit" />
    </fieldset>
</form>

<br>

<form action="/players/addPlayer" method="post" class="playersForms" id="playersAdd">
    <fieldset>
        <legend>ADD New Player:</legend>
        First Name: <input type="text" name="firstName" required><br />
        Last Name: <input type="text" name="lastName" required><br />
        Team: <select name="team">
            {{#each teams}}
            <option value="{{id}}">{{name}}</option>
            {{/each}}
              </select><br />
        <br />
        <input type="submit" name="playerAddSubmit" value="ADD" />
    </fieldset>  
</form>

<br>

<br>

<br>

</html>
