<html>
<h1>Update {{player.firstName}} {{player.lastName}}:</h1>
<form id="update-players" action="/players" method="post">
    Last name: <input type="text" name="lastName" value="{{player.lastName}}"><br>
    First name: <input type="text" name="firstName" value="{{player.firstName}}"><br>
    Team: <select name="team" id="team-selector"> 
        {{#each teams}}
        <option value="{{id}}">{{name}}</option>
        {{/each}}
    </select><br>
    Fantasy Points: <br />
    2pt FGs: <input type="number" name="twoptFG" value="{{player.2ptFGs}}"><br />
    3pt FGs: <input type="number" name="thrptFG" value="{{player.3ptFGs}}"><br />
    Rebounds: <input type="number" name="rebounds" value="{{player.rebounds}}"><br />
    Assists: <input type="number" name="assists" value="{{player.assists}}"><br />
    Steals: <input type="number" name="steals" value="{{player.steals}}"><br />
</form>
<button onclick="updatePlayer ( {{player.id}} )">Update</button>
<script defer>selectTeam ({{player.team}});</script>
</html>
