<html>
<h1>Update {{team.teamName}}:</h1>
<form id="update-teams" action="/teams" method="post">
    Team Name: <input type="text" name="teamName" value="{{team.teamName}}" disabled><br>
    Conference: <select name="confName" id="conference-selector"> 
        {{#each conferences}}
        <option value="{{id}}">{{name}}</option>
        {{/each}}
    </select><br>
	City: <input type="text" name="city" value="{{team.city}}"><br>
	Conference: <select name="headCoach" id="headCoach-selector"> 
        {{#each headCoaches}}
        <option value="{{id}}">{{name}}</option>
        {{/each}}
    </select><br>
    Record: <br />
    Wins: <input type="number" name="wins" value="{{team.wins}}"><br />
    Losses: <input type="number" name="losses" value="{{team.losses}}"><br />
</form>
<button onclick="updateTeam ( {{team.tId}} )">Update</button>
<script defer>selectConference ({{team.confName}});</script>
<script defer>selectHeadCoach ({{team.headCoach}});</script>
</html>
